.site-header {
	position: absolute;
	z-index: 1;
	width: 100%;
}

/* Site Title
----------------------------------- */
.site-branding {
	padding: 5em 0;
}

.site-title {
	margin: 0;
	a {
		display: block;
		text-indent: -99999px;
		overflow: hidden;
		background: url(images/sprite.png) no-repeat center top;
		width: 240px;
		height: 22px;
		margin: 0 auto;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
	.site-title a {
		background: url(images/sprite@2x.png) no-repeat center top;
		background-size: 240px;
	}
}

/* Main Nav
----------------------------------- */
.main-nav {
	position: relative;
	z-index: 1;
	clear: both;
	display: block;
	width: 100%;
	margin: 1.3em auto;
	padding: 0 $grid_margin_static;
	box-sizing: border-box;
}

.main-nav ul {
	@include layout-clearfix;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-nav li {
	width: 20%;
	text-align: center;
	float: left;
	position: relative;
	&:before { content: ""; margin: 0; }

	ul.children {
		display: none;
	}
}

.main-nav a {
	display: block;
	font: normal normal bold 14px/1em $font_heading;
	text-transform: uppercase;
	color: $color_blue4;
	&:hover {
		color: $color_red;
	}
}

/* Small menu */
.menu-toggle {
	display: none;
}


















