/* Hentry
------------------------------------- */
.hentry {
	// center hentry's with NO 'span' class
	margin: 0 auto;
	max-width: $grid_span8;
	
	// hentry's WITH a 'span' class
	&[class*=" span"] {
		max-width: none;
		margin: 0 ($grid_span2 * -1) 0 0;
		padding: 0 ($grid_span3 + $grid_margin) 0 0;		
	}
}
.entry-content {
	margin: 0 auto;
	
	h1, h2, h3, h4 {
		color: $color_red;
	}
	
	ul, ol {
		margin: 0 0 1.5em;
		ul, ol { margin: 0 0 0 1.5em; }
	}

	ul li {
		padding-left: 15px;
		margin: 0 0 0.25em;

		&:before {
			display: inline-block;
			content: "›";
			width: 15px;
			margin-left: -15px;
			vertical-align: 0.1em;
		}
	}

}

/* Aside
------------------------------------- */
.aside {
	color: $color_gray3;
	
	a {
		display: block;
		color: $color_gray3;
		line-height: 1.2em;
		&:hover { color: $color_red; }
	}
	.view-all {
		margin-bottom: 20px;
	}
	.button {
		position: relative;
		border-color: $color_gray1;
		padding-right: 40px;
		padding-left: 0;
		&:hover {
			border-color: $color_red;
		}
		[class*="icon-"] { 
			position: absolute;
			top: 50%;
			right: 15px;
			margin-top: -6px;
		}
	
		&.point-left {
			padding-right: 0;
			padding-left: 40px;
			[class*="icon-"] { 
				left: 15px;
				right: auto;
			}
		}
	}

	h3 {
		font: normal normal bold 14px/14px $font_heading;
		text-transform: uppercase;
		color: $color_text;
		padding: 0 0 1em;
		margin: 0;
		.icon-arrow-down { display: none; }
	}

	ul { margin: 0 0 1em 0; }

	li {
		line-height: 1.2em;
		margin-bottom: 1em;
		font-size: 14px;
	}

	p { font-size: 14px; }

	.social-share {
		a { color: #FFF; }
		li { margin-bottom: 0; }
	}

	.categories {
		li { margin-bottom: 1.25em; }
	}

	.contact-info {
		.block-label {
			padding-bottom: 0.3em;
		}
		ul {
			margin-bottom: 1.8em;
		}
	}
}
.aside-left {
	width: 100%;
	float: left;
	margin: 0 ($grid_span9 * -1) 0 0;
	padding: 0 ($grid_span10 + $grid_margin) 0 0;
}
.aside-right {
	width: $grid_span2;
	float: right;
}

.page-template-page-sidebars {
	.aside {
		h3 { padding-bottom: 0.3em; }
	}
}

/* Solid Block
------------------------------------- */
.solid-block {
	padding: 1.5em;
	color: #FFF;
	a { color: #fff; }
	&.child1 { background: $color_blue1; }
	&.child2 { background: $color_purple1; }
	&.child3 { background: $color_blue2; }
	&.child4 { background: $color_purple2; }
	&.child5 { background: $color_blue3; }
	&.child6 { background: $color_blue4; }
}

// Limit hover effects to solid blocks on homepage
.home .solid-block {
	transition: background-color 250ms ease;
	&.child1:hover { background-color: shade($color_blue1, 20%); }
	&.child2:hover { background-color: shade($color_purple1, 20%); }
	&.child3:hover { background-color: shade($color_blue2, 20%); }
	&.child4:hover { background-color: shade($color_purple2, 20%); }
	&.child5:hover { background-color: shade($color_blue3, 20%); }
	&.child6:hover { background-color: shade($color_blue4, 20%); }
}

.site-main .square {
	position: relative;
	width: 48%;
	float: left;
	min-height: 18em;
	transition: all 250ms ease;
	
	h3, p { transition: all 250ms ease; }

	&.child1, &.child3, &.child5 {
		margin-right: 2%;
	}
	
	&.our-firm-child {
		
		&:hover {
			h3 { color: $color_red; }
		}
		&.border-block:hover { border-color: $color_red; }
		&.solid-block:hover { 
			background-color: $color_red;
			h3 { color: #FFF; }
		}
		&.solid-block a {
			padding: 1.3em 1em;
		}
	
		a {
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
			padding: 1.3em 1em 0 0;
		}
		
	}

	&.attorney {
		width: 30%;
		margin-left: 3%;
		margin-bottom: 3%;
		padding: 1em 0 0;
		min-height: 15em;
		border-color: $color_blue1;
		&.active {
			display: block;
		}
		&:hover {
			border-color: $color_red;
			p, h3 { color: $color_red; }
		}
		
		a {
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
			padding-top: 1.3em;
		}


		h3 {
			font-size: 20px;
			margin-bottom: 0.1em;
			color: $color_blue1;
			text-transform: uppercase;
		}

		p {
			margin: 0;
			padding: 0;
			font-size: 0.8em;
			color: $color_gray4;
			text-transform: uppercase;
			letter-spacing: 0.01em;
			line-height: 1em;
		}

		.wp-post-image {
			position: absolute;
			bottom: 0;
			left: 5px;
		}
	}

	&.blog-post {
		width:        30%;
		margin-left:  3%;
		padding:      1em 0 0;
		margin-bottom: 2em;
		min-height:   15em;
		color: $color_blue1;
		border-color: $color_blue1;

		h3 {
			margin-bottom: 0.1em;
			font-family: $font_text;
			font-size: 1.2em;
			line-height: 1.4em;
			font-weight: normal;
			padding-right: 1em;
			a {
				color: $color_blue1;
			}
		}
		.timestamp {
			font-weight: normal;
			font-size: 14px;
			text-transform: uppercase;
			
			.day-year {
				font-size: 14px;
			}
		}
		&.even {
			color: $color_purple1;
			border-color: $color_purple1;
			h3 a {
				color: $color_purple1;
			}
		}
		&:hover {
			border-color: $color_red;
			color: $color_red;
			h3 a { color: $color_red; }
		}
	}

	&.practice, &.industry {
		width: 33.333%;
		height: 163px;
		min-height: 163px;
		background: $color_blue1;
		padding: 0;
		margin: 0;
		display: table;
		padding: 30px 0;
		text-align: center;
		h3 {
			text-align: center;
			margin-bottom: 0;
			display: table-cell;
			vertical-align: middle;
			a {
				color: white;
				height: 100%;
				width: 100%;
				display: block;
			}
		}
	}
	&.practice {
		
		h3 {
			/* Image replacement code */
			display: block;
			min-width: 215px;
			height: 163px;
			text-indent: -9999px;
			white-space: nowrap;
			overflow: hidden;
			background-repeat: no-repeat;
			background-position: center;
		}

		&.business-litigation {
			background-color: $color_blue4;
			h3 {
				@include background-image-retina('../images/practices_assets/practice_business', png, 215px, 163px);
			}
			&:hover {
				background-color: shade($color_blue4, 20%);
			}
		}
		&.construction {
			background-color: $color_blue3;
			h3 {
				@include background-image-retina('../images/practices_assets/practice_construction', png, 215px, 163px);
			}
			&:hover {
				background-color: shade($color_blue3, 20%);
			}
		}
		&.business-corporate {
			background-color: $color_blue2;
			h3 {
				@include background-image-retina('../images/practices_assets/practice_corporate', png, 215px, 163px);
			}
			&:hover {
				background-color: shade($color_blue2, 20%);
			}
		}
		&.creditors-rights-bankruptcy {
			background-color: $color_blue1;
			h3 {
				// text-indent: 0;
				@include background-image-retina('../images/practices_assets/practice_creditors_rights', png, 215px, 163px);
			}
			&:hover {
				background-color: shade($color_blue1, 20%);
			}
		}
		&.employment {
			background-color: $color_purple1;
			h3 {
				@include background-image-retina('../images/practices_assets/practice_employment', png, 215px, 163px);
			}
			&:hover {
				background-color: shade($color_purple1, 20%);
			}
		}
		&.exempt-organizations {
			background-color: $color_purple2;
			h3 {
				text-indent: 0;
				// @include background-image-retina('images/practices_assets/practice_construction', png, 198px, 163px);
			}
			&:hover {
				background-color: shade($color_purple2, 20%);
			}
		}
		&.intellectual-property {
			background-color: $color_blue4;
			h3 {
				@include background-image-retina('../images/practices_assets/practice_intellectual_property', png, 215px, 163px);
			}
			&:hover {
				background-color: shade($color_blue4, 20%);
			}
		}
		&.real-estate {
			background-color: $color_blue3;
			h3 {
				@include background-image-retina('../images/practices_assets/practice_real_estate', png, 215px, 163px);
			}
			&:hover {
				background-color: shade($color_blue3, 20%);
			}
		}
		&.tax {
			background-color: $color_blue2;
			h3 {
				@include background-image-retina('../images/practices_assets/practice_taxation', png, 215px, 163px);
			}
			&:hover {
				background-color: shade($color_blue2, 20%);
			}
		}
		&.trusts-estates-litigation {
			background-color: $color_blue1;
			h3 {
				// text-indent: 0;
				@include background-image-retina('../images/practices_assets/practice_trusts_estate', png, 215px, 163px);
			}
			&:hover {
				background-color: shade($color_blue1, 20%);
			}
		}
	}
	&.industry {
		&.financial-services {
			background-color: $color_blue4;
		}
		&.food-beverage {
			background-color: $color_blue3;
		}
		&.technology {
			background-color: $color_blue2;
		}
	}
}

/* Border Block
------------------------------------- */
.border-block {
	padding: 1.5em 0 1em;
	margin-bottom: 10px;

	&.top {
		border-top: 4px solid $color_gray1;
		padding: 1.5em 0;
	}
	&.top-right {
		border-top: 4px solid $color_gray1;
		border-right: 4px solid $color_gray1;
	}
	&.top-left {
		border-top: 4px solid $color_gray1;
		border-left: 4px solid $color_gray1;
		text-align: right;
		padding: 1.5em 0 1.5em 1.5em;
	}
	&.top-right-bottom {
		border: 4px solid $color_gray1;
		border-left: none;
	}
	&.top-left-bottom {
		border: 4px solid $color_gray1;
		border-right: none;
		text-align: right;
		padding: 1.5em 0 1.5em 1.5em;
	}
	&.child1 { border-color: $color_blue1; }
	&.child2 {
		border-color: $color_purple1;
		h3, h3 a { color: $color_purple1; }
	}
	&.child3 {
		border-color: $color_blue2;
		h3, h3 a { color: $color_blue1; }
	}
	&.child4 {
		border-color: $color_purple2;
		h3, h3 a { color: $color_purple2; }
	}
	&.child5 {
		border-color: $color_blue3;
		h3, h3 a { color: $color_blue3; }
	}
	&.child6 {
		border-color: $color_blue4;
		h3, h3 a { color: $color_blue4; }
	}
	
	.last-item {
		margin-bottom: 0; 
	}
	
	.date { margin-bottom: 1em; color: $color_gray3; }
	
	.title a {
		color: $color_gray3;
		&:hover { color: $color_red; }
	}
	
	&.meet-headline {
		position: relative;
		width: 33.333%;
		float: left;
		text-align: center;
		min-height: 18em;
		
		a {
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
			padding: 50% 1em 0;
			
			h2 { 
				margin-top: -35px; 
			}
		}
	}
	&.meet-content {
		width: 63%;
		float: left;
		margin-left: 3.333%;
		padding: 0 10% 0 0;
		min-height: 18em;
		height: 18em;
		display: table;
		
		h3 {
			display: table-cell; 
			vertical-align: middle;
			color: $color_blue1;
		}
	}

}

.block-label {
	font: normal normal bold 14px/14px $font_heading;
	text-transform: uppercase;
	color: $color_text;
	padding: 0 0 1em;
	margin: 0;
}

.block-person {
	.block-label {
		margin-bottom: 0;
		padding-bottom: 0;
		a {
			color: $color_text;
		}
	}
}


/* Post Navigation
------------------------------------- */
.post-navigation, .paging-navigation {
	margin-top: 5em;
	margin-bottom: 5em;
	clear: both;

	a { display: block; }
}

.practices, .industries {
	@include layout_clearfix;
	position: relative;
	display: table;
	margin-bottom: 2em;
}

.attorneys, .news-events {
	@include layout_clearfix;
	position: relative;
	margin-bottom: 2em;
	.see-all {
		position: absolute;
	  color: $color_gray2;
		display: block;
		top: 8px;
		right: 0;
		padding-right: 20px;
		font-family: $font_heading;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		&:hover { color: $color_red; }
		
		[class*="icon-"] {
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -9px;
		}
	}
}

.practices_wrap,
.articles_wrap,
.industries_wrap {

	.see-all {
		position: relative;
	  color: $color_gray2;
		display: inline-block;
		font-family: $font_heading;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0 0 10px 0;
		&:hover { color: $color_red; }
		
		[class*="icon-"] {
			vertical-align: -1px;
			margin: 0 5px 0px 0;
		}
	}
}




/* Home Page styles
------------------------------------- */
.home {

	h3.front-page {
		text-align: center;
		color: $color_red;
		text-transform: uppercase;
		margin: 0 0 1.5em;
	}

	
	.featured {
		max-width: 970px;
		margin: 0px auto -5em;
		padding: 1.5em 30px 2em;
		background: $color_blue1;
		background: rgba(40, 95, 138, 0.3);

		.label {
	    font-family: $font_heading;
			font-weight: bold;
			font-size: 14px;
			text-transform: uppercase;
			color: $color_red;
	    margin: 0px 0px 1em;
		}
		.page-title {
			@include h3size;
			margin: 0;
			padding: 0;
			text-transform: uppercase;
			a { 
				display: block;
				color: #FFF;
				&:hover { color: $color_red; }
			}
		}
		.page-subtitle {
			font-size: 18px;
			padding: 0;
			margin: 1em auto 1em;
			max-width: 80%;
		}
		.button {
			border-color: $color_red;
			color: $color_red;
			display: inline-block;
			width: auto;
			padding-right: 18px;
			padding-left: 18px;
			&:hover {
				border-color: #FFF;
				color: #FFF;
			}
			.icon {
				vertical-align: -1px;
				margin-left: 15px;
			}
		}
	}
	
	section.attorneys { margin: 4em auto; }
	//.site-main .square.attorney { min-height: 17em; }
	//.site-main .square.attorney a { padding-top: 1.5em; }
	
}

.news-events {
	section {
		display: none;
		&.section-1 { display: block; }
	}
	.square {
		width: 33.3%;
		margin-right: 0 !important; // this could probably be reengineered
		display: inline-block;
		&:hover { 
			.read-more { opacity: 1; }
		}
		
		a {
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
			padding: 1.5em;
		}
		
		.post-title {
			font-size: 21px;	
		}
		
		.timestamp {
			font-size: 14px;
		}
		
		.read-more {
			opacity: 0;
			position: absolute;
			bottom: 1.5em;
			transition: opacity 250ms ease;
		}
	}
}


/* Affiliations/Memberships
	 Community Involvement
------------------------------------- */
.page-affiliations-memberships,
.page-community-involvement {
		
	.entry-content {
		
		& > ul {
			
			& > li {
				border-bottom: 1px solid #EEE;
				padding: 0.75em 0px 0.75em 15px;
				font-size: 1.25em;
				line-height: 1.2em;
				color: $color_purple;
				&:before {
					content: "";
					margin: 0;
					width: 0;
				}
			}
		}
		
		ul ul {
			margin: 0.5em 0px 0px 0.5em;
			
			li { font-size: 16px; color: $color_gray4; margin-left: -15px; }
		}
	}
}

.content-articles {
	
	.site-main {
		
		.square.blog-post {
			width: 22%;
			margin-left: 4%;
		
			&.place1 { margin-left: 0; }
		}
	}
}


















