body {
	border: 10px solid $color_red;
	border-left: none;
}

#page {
	position: relative;
}

#wrapper {
	max-width: $page_maxwidth;
	margin: 0 auto;
	clear: both;
}

#primary {

	&.terminal-page {
		background: $color_gray0;
	}
}

.page-default {
	article {
		@include layout-clearfix;
	}
}

.history {
	.milestones {
		text-align: center;
		@include h4size;
		font-family: $font_heading;
		font-weight: bold;
		margin-bottom: 2em;
		li {
			display: inline-block;
			color: $color_blue2;
			cursor: pointer;
			margin-right: 1em;
			&.active, &:hover {
				color: $color_red;
				border-bottom: 2px solid $color_red;
			}
		}
	}
	.milestone {
		display: none;
		&.active {
			display: block;
		}
		h2 { display: none; }
	}
}

.our-firm {
	.border-block p {
		font-size: 16px;
		color: $color_gray3;
	}
}

.practice-list {
	li {
		margin-bottom: 1em;
		cursor: pointer;
		&.active {
			color: $color_red;
		}
	}
}