body {
	border: 10px solid $color_red;
	border-left: none;
}

#page {
	position: relative;
}

#wrapper {
	max-width: $page_maxwidth;
	margin: 0 auto;
	clear: both;
}

#primary {

	&.terminal-page {
		background: $color_gray0;
	}
}

.page-default {
	article {
		@include layout-clearfix;
	}
}

.history {
	.milestones {
		text-align: center;
		@include h4size;
		font-family: $font_heading;
		font-weight: bold;
		margin-bottom: 2em;
		li {
			display: inline-block;
			color: $color_blue2;
			cursor: pointer;
			margin-right: 1em;
			&.active, &:hover {
				color: $color_red;
				border-bottom: 2px solid $color_red;
			}
		}
	}
	.milestone {
		display: none;
		&.active {
			display: block;
		}
		h2 { display: none; }
	}
}

.our-firm {
	.border-block p {
		font-size: 16px;
		color: $color_gray3;
	}
}

.practice-list {
	li {
		margin-bottom: 1em;
		cursor: pointer;
		&.active {
			color: $color_red;
		}
	}
}

.attorneys {
	.attorney.sortable {
		display: none;
	}
}

.bottom-matter {
	@include layout-clearfix;
	clear: both;
	margin-top: 2em;
	.menu {
		h3 {
			color: $color_gray3;
			cursor: pointer;
			font-size: 16px;
			letter-spacing: 1px;
			text-transform: uppercase;
			&.active {
				color: $color_red;
				border-right: none;
				border-top-color: $color_red;
			}
		}
	}
	section {
		display: none;
		color: $color_gray3;
		margin-left: $grid_margin * 2;
		padding-right: 2em;

		&.active {
			display: block;
		}

		&.publications {
			margin-top: 4.65em;
		}

		&.related-content, &.news {
			margin-top: 4.65 * 2em;
		}

		&.blog-posts {
			margin-top: 4.65 * 3em;
		}

		.date {
			margin-bottom: 0;
			color: $color_gray4;
		}

		a {
			color: $color_gray3;
			&:hover { color: $color_red; }
		}

		// These are probably redundant, could use .entry-content
		p {
			@include textsize;
			font-family: $font_text;
			margin-bottom: 1.5em;
		}

		h1, h2, h3 {
			color: $color_red;
		}

		h4 {
			color: $color_gray4;
		}

		ul, ol {
			margin: 0 0 1.5em;
			ul, ol { margin: 0 0 0 1.5em; }
		}

		ul li {
			&:before {
				content: "›";
				margin-right: 10px;
			}
		}
	}
}