/* Page Header
----------------------------------- */
.page-header {
	position: relative;
	text-align: center;
	padding: 16em 0 0 0;
	@include layout-clearfix;
	background: $color_gray0;
	}
	.home .page-header, .page-id-32 .page-header {
		background: url(images/large-monogram.png) no-repeat center center $color_gray0;
		padding-bottom: 5em;
		}
	.terminal-page .page-header {
		background: #FFF;
		
		.meta-date { color: $color_gray2; }
	}

	.page-title { 
		color: $color_purple;
		padding: 0 0 0.25em;
		margin: 0;
	}
	.page-subtitle {
		font-family: $font_text;
		@include h3size;
		text-transform: none;
		font-weight: normal;
		max-width: 50%;
		margin: 0 auto;
		padding-bottom: 1.5em;
	}
	.entry-meta {
		padding: 0 0 1em;
		}
		.meta-date {
			font-size: 14px;
			color: $color_gray2;
			}
		.meta-title {
			color: #6F6F6F;
			}
	.attorney-pic {
		position: absolute;
		bottom: 0;
		left: 0;
		max-width: 250px;
	}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
	.home .page-header, .page-id-32 .page-header {
		background: url(images/large-monogram@2x.png) no-repeat center center $color_gray0;
		background-size: 537px;
	}
}

/* Main
----------------------------------- */
#main {
	padding-top: 3em;
	padding-bottom: 5em;
	}
