form {
	margin-bottom: 1.5em;
}

button,
.button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

button, .button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 4px solid;
	border-left: none;
	border-color: $color_gray0;
	border-radius: 0;
	width: 100%;
	background: none;
	box-shadow: none;
	color: $color_blue1;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: none;
	font: normal normal bold 14px/14px $font_heading;
	padding: 18px 0 14px;
	text-transform: uppercase;
	transition: all 250ms ease;

	&:hover {
		border-color: $color_red;
		color: $color_red;
	}
	&:focus,
	&:active {
		outline: none;
		border-color: $color_red;
		color: $color_red;
	}

	&.point-left {
		border: 4px solid;
		border-right: none;
	}
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
input[type="search"],
textarea {
	display: block;
	width: 100%;
	@include box-sizing(border-box);
	color: $color_gray3;
	background: none;
	border: none;
	border-top: 4px solid $color_gray0;
	border-right: 4px solid $color_gray0;
	border-radius: 0;
	margin-bottom: 8px;
	-webkit-appearance: none;
	padding: 15px 15px 7px 0;
	outline: none;
	transition: all 250ms ease;
	
	&:hover { 
		border-color: $color_red; 
	}
	&:focus { 
		border-color: $color_red; 
		color: $color_red; 
		outline: none;
	}
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
	height: 100%;
}
