/**
 * Adding styling for Gravity Forms
 */

// override list styles in '.entry-content' containers
.entry-content .gform_wrapper ul {
	margin: 0;
}
.entry-content .gform_wrapper li {
	&:before { content: ""; margin: 0; }
}

// gform Wrapper
.gform_wrapper {
	background: white;
	padding: 1em;
	margin-bottom: 1em;
	
	form { margin: 0; }
	
	// inputs
	input[type="text"], 
	input[type="email"], 
	input[type="url"], 
	input[type="tel"],
	input[type="password"], 
	input[type="search"], 
	textarea {
		border-bottom: 4px solid $color_gray0;
		margin-bottom: 0;
		padding: 10px 15px 10px 0;
		color: $color_gray4;
		
		&:hover,
		&:focus {
			border-color: $color_gray1;
		}
	}
	
	// submit
	input[type="submit"] {
		border: 4px solid $color_blue1;
		padding: 21px 18px 18px;
		&:hover,
		&:focus {
			border-color: $color_red;
		}
	}
}

// Form Title and Description
.gform_title { 
	margin: 0.5em 0 0.75em; 
	color: $color_purple !important;
}
.gform_description { 
	display: block; 
	margin-bottom: 2em; 
	color: $color_purple1;
}

// gfield
.gfield {
	margin: 0 0 1.5em;
}

.ginput_complex {
	@include layout-clearfix;
	
	.ginput_left,
	.ginput_right {
		width: 48%;
		float: left;
	}
	.ginput_left {
		margin-right: 4%;
	}
}

// Labels and Descriptions
.gfield_label,
.ginput_complex label,
.gfield_description {
	display: block;
	font-size: 14px;
}
.gfield_label {
	color: $color_purple;
	font-family: $font_heading;
	font-weight: bold;
	text-transform: uppercase;
}
.ginput_complex label,
.gfield_description {
	font-style: italic;
	color: $color_gray3;
	margin: 2px 0 0;
}

// Checkboxes and Radio buttons
.gfield_checkbox,
.gfield_radio {
	margin: 0;

	input {
		margin: 0 5px 0 0;
	}

	label {
		font-family: $font_text;
		color: $color_gray4;
		font-size: 16px;
		cursor: pointer;
		&:hover {
			color: $color_red;
		}
	}
}

// gfield "list"
.gfield_list_cell {
	width: 48%;
}

// Confirmations and Errors
.gform_confirmation_message {
	border: 4px solid $color_blue1;
	padding: 1em 1em 1em 0;
	border-left: 0;
	font-size: 1.5em;
	line-height: 1.2em;
}

.validation_error {
	background: $color_red;
	color: #FFF;
	padding: 1em;
	margin: 0 -1.1em 2em;
	font-family: $font_heading;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 1.2em;
}

.gfield_error {
	.gfield_label {
		color: $color_red;
	}
	input[type="text"], 
	input[type="email"], 
	input[type="url"], 
	input[type="tel"],
	input[type="password"], 
	input[type="search"], 
	textarea {
		border-color: $color_red;
	}
}


