@media only screen and (max-width : 480px) {
	
	.menu-toggle,
	.main-nav.toggled .nav-menu {
		display: block;
		border-color: $color_red;
		height: auto;
		max-height: 1000px;
	}
	.menu-toggle {
		border: none;
		color: $color_blue4;
		background: white;
	}
	.main-nav {

	}

	.main-nav {
		padding: 0;
		margin-top: 0;
		ul {
			z-index: 1;
			position: absolute;
			top: 46px;
			height: 0;
			max-height: 0;
			width: 100%;
			background: white;
			border-bottom: 4px solid $color_gray0;
			transition: all 500ms ease;
			overflow: hidden;
			li {
				width: 100%;
				padding: 15px 0;
				border-top: 4px solid $color_gray0;
			}
		}
	}

	.hentry {
		max-width: 100%;
	}
	.hentry[class*=" span"] {
		padding-right: 0;
	}

	// Not sure about the best approach to dealing with the grid
	.aside-right, .aside-left,
	.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span12 {
		width: 100%;
	}
	.span12 {
		padding: 0;
	}
	.aside-left { margin: 0; padding: 0; }

  .page-header { padding-top: 13em; }
	.site-branding { padding: 1em 0; }
	.page-title {
		font-size: 36px;
	}
	.page-subtitle {
		max-width: 90%;
	}

	.site-main {
		width: 90%;
		.square {
			width: 100%;
			margin-left: 0;
			&.attorney, &.blog-post, &.practice, &.industry {
				width: 100%;
				margin-left: 0;
			}
		}
		.border-block, .solid-block {
			margin-bottom: 15px;
		}
	}

	.news-events {
		.see-all { display: none; }
	}

	.home section.attorneys {
		margin-top: 1em;
		.meet-headline {
			width: 100%;
			margin-right: 0;
			border: 0;
			min-height: 0;
			float: none;
			padding: 1.5em;
			a {
				padding:  0;
				position: relative;
			}
		}
		.meet-content {
			width: 100%;
			margin-left: 0;
			float: none;
			@include layout-clearfix;
		}
	}

	.aside {
		.social-share {
			ul {
				@include layout-clearfix;
				margin-bottom: 0;
			}
			li {
				float: left;
				.social-icon {
					width: 55px;
					height: 55px;
					font-size: 24px;
				}
			}
		}
		.sidebar-menu-block {
			margin-bottom: 0;
			padding: 15px 0 0;
		}
		.sidebar-menu-header {
			cursor: pointer;
			.icon-arrow-down {
				display: block;
				float: right;
				color: $color_gray2;
			}
		}
		.sidebar-menu {
			display: none;
		}
	}

	.bottom-matter {
		.menu {
			display: none;
		}
		.sections {
			margin-top: 1.5em;

			.section-title {
				display: block;
				h3 {
					padding: 0.75em 0 0.5em;
				}
			}
		}
		section {
			margin-left: 0;
			padding-right: 1em;
			&.publications {
				margin-top: 0;
			}
		}
	}

	.attorney-pic {
		position: relative;
		bottom: -7px; // hackish; couldn't figure out where white-space was coming from
	}
	.history .milestones {
		li {
			width: 30%;
			margin: 0 0 1em 0;
			&.active { border: none; }
		}
	}
	footer {
		.row { width: 90%; }
	}
	
}